{% extends 'base.html.twig' %}

{% block title %}Mes bijoux{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-3">
            <h3>Filtrer</h3>
            {{ form(form) }}
        </div>
        <div class="col-md-9">
            <h3 class="text-justify">Mes créations</h3>

            <div class="row">
                {% for product in products %}
                    <div class=" card col-md-3 ml-4 mt-4">
                        <div class="product-item text-center">
                            <a href="{{ path('product', { 'slug' : product.slug }) }}"> <img
                                        src="/uploads/{{ product.illustration }}" alt="{{ product.name }}"
                                        class="img-fluid rounded"></a>
                            <h5>{{ product.name }}</h5>
                            <span>{{ product.subtitle }}</span>
                            <hr>
                            <span class="text-success ">{{ (product.price/ 100)|number_format(2, ',', '.') }} €</span>
                        </div>
                    </div>
                {% endfor %}
        </div>
    </div>
    </div>



{% endblock %}
