{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-5 mt-5">
            <img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}" class="img-fluid">
        </div>

        <div class="col-md-7 my-auto">
            <h3 class="">{{ product.name }}</h3>
            <p class="mt-3">{{ product.subtitle }}</p>
            {{ (product.price / 100)|number_format(2, ',','.') }} €
            <hr>
        <p>{{ product.description }}</p>
            <a href="{{ path('add-to-cart', { 'id' : product.id }) }}" class="btn btn-primary">Ajouter au panier</a>
        </div>


    </div>


{% endblock %}
