{% extends 'base.html.twig' %}

{% block title %}Paiement de ma commande - La boutique Macramé de valou{% endblock %}

{% block body %}
    <h2 class="text-center">Récapitulatif de ma commande</h2>
    <hr>
    <div class="row">
        <div class="col-md-6 ">
            <strong>Mon adresse de livraison :</strong><br>
            <div class="form-check mt-4">
                {{ delivery|raw }}

            </div>
            <hr>
            <strong>Mon transporteur :</strong><br>
            <div class="form-check mb-4">

                {{ carrier.name }}<br>
                {{ carrier.description }}<br>
                {{ carrier.price|number_format(2, ',', '.') }}
            </div>
        </div>

        <div class="col-md-6">
            <div class="text-center">
                <strong>Ma commande</strong>

            </div>
            <div class="order-summary">
                {% set total = null %}
                {% for product in cart %}
                    <div class="row ">
                        <div class="col-2 mt-5">
                            <img src="/uploads/{{ product.product.illustration }}" alt="{{ product.product.name }}"
                                 height="75px" class="mt-2">
                        </div>
                        <div class="col-5 text-justify my-auto">
                            {{ product.product.name }}<br/>
                            <small>{{ product.product.subtitle }}</small>
                        </div>

                        <div class="col-2 my-auto">
                            X {{ product.quantity }} =

                        </div>
                        <div class="col-2 my-auto">
                            {{ ((product.product.price * product.quantity) /100)|number_format(2, ',', '.') }} €
                        </div>

                    </div>
                    {% set total = total + (product.product.price * product.quantity) %}
                {% endfor %}

            </div>
            <hr>
            <strong>Sous-total :</strong> {{ (total / 100)|number_format(2, ',', '.') }} €<br>
            <strong>Livraison :</strong> {{ (carrier.price)|number_format(2, ',', '.') }} €
            <hr>
            <strong>Total :</strong> {{ ((total / 100) + carrier.price)|number_format(2, ',', '.') }} €
            <a href=""
               class="btn btn-success btn-block mt-3 mb-5">Payer {{ ((total / 100) + carrier.price)|number_format(2, ',', '.') }}
                €</a>
        </div>

    </div>

{% endblock %}